<!DOCTYPE html>
<html>
<!--Base template for all other pages-->
<head>
{% block title %}<title>Dashboard</title> {% endblock %} <!--Note that block... endblock can be added inbetween the base code to indicate portions that are allowed to change-->
<!-- Load the path to your static file -->
{%load staticfiles%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Oswald|Rammetto+One|Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'IntakeForm/style.css' %}" />
<!--Import your css code after the bootstrap code to override it-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
	<nav class="navbar navbar-inverse"><!-- Navigation bar at the top of website; navbar-inverse will inverse the color-->
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"> <!-- data-toogle will collapse the following buttons based on data-target (when screen space is compressed). Data-target is then assigned a value to point out the areas that will be collapsed when space is compressed-->
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<!--Forms the 3bar menu dropdown when you compress the screen too much such that the other features in the nav bar can't be shown-->
				</button>
				<a class="navbar-brand" href="{% url 'IntakeForm:Dashboard' %}">Home</a> 
				<!--Note that: url 'IntakeForm:Dashboard' is linking to the name declared in the urls.py file. Clicking it will bring you to the path that leads to file views, function context which is the homepage (context.html)-->
			</div>

			<!--Items-->
			<div class="collapse navbar-collapse" id="topNavBar">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#" class="topheaders">
							<span class="glyphicon glyphicon-user" aria-hidden="True"></span>&nbsp;
							Profile
						</a>
					</li>
					<li class="">
						<a href="#" class="topheaders">
							<span class="glyphicon glyphicon-settings" aria-hidden="True"></span>&nbsp;
							Settings
						</a>
					</li>
				</ul>

				<form class="navbar-form navbar-left" role="search" method="get" action="#">
					<div class="form-group">
						<input type="text" class="form-control" name="q" value="Search">
						<button type="submit" class="btn btn-default">Search</button>
					</div>
				</form>

				<ul class="nav navbar-nav navbar-right">
					<li class="">
						<a href="{% url 'IntakeForm:AdminDetails' %}" class="topheaders">
							<span class="glyphicon glyphicon-plus" aria-hidden="True"></span>&nbsp;
							Create Form
						</a>
					</li>
					<li class="">
						<a href="#" class="topheaders">
							<span class="glyphicon glyphicon-off" aria-hidden="True"></span>&nbsp;
							Logout
						</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	{%block body%} <!--Indicate where the code of the other html files will start. Note that the other html files will include the start and end block as well; "body" term can be switched-->
	{%endblock%}
</body>
</html>